venv
.DS_Store
.env

gui-streamlit/data/uploads/*
gui-streamlit/temp/*
gui-streamlit/temp/zip/*
gui-streamlit/old

testing_llms/data/connected_components/code/*
testing_llms/data/connected_components/output/*
testing_llms/data/image/code/*
testing_llms/data/image/output/*
testing_llms/data/void/code/*
testing_llms/data/void/output/*
testing_llms/data/page_rank/code/*
testing_llms/data/page_rank/output/*
testing_llms/stored_runs/*