altair
annotated-types
anyio
astroid
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
dill
docopt
filelock
Flask
fonttools
fsspec
gitdb
GitPython
h11
httpcore
httpx
huggingface-hub
idna
isort
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mccabe
narwhals
networkx
numpy
ollama
opencv-python
packaging
pandas
pillow
pipreqs
platformdirs
protobuf
psutil
pyarrow
pydantic
pydantic_core
pydeck
pylint
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
rdflib
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
six
smmap
sniffio
streamlit
tenacity
threadpoolctl
toml
tomlkit
tornado
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
yarg